@import url("https://www.cdnfonts.com/css/sharp-sans");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-custom-dark;
  color: rgb(253, 254, 255);
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
